extends layout


block body

  .body-container.formadd-container
    header
      h1.formadd-title= customTitle || 'Add Lib'

      if err && err.ok === false
        each erri in err.errors
          div.alert-notification.alert-error= erri.message

    form(method='POST')

      div.formadd-content-input.formadd-content-input-title
        div.formadd-input-content
          label.formadd-label Name
          input.formadd-input(name='name', placeholder='Ex. lodash', value=body.name)

      div.formadd-content-input.formadd-content-input-version
        div.formadd-input-content
          label.formadd-label Version
          input(name='version' placeholder='Ex. ^4.1.1', value=body.version).formadd-input

      div.formadd-content-input.formadd-content-input-url
        div.formadd-input-content
          label.formadd-label Link
          input(name='url' placeholder='Ex. https://github.com/myProject/obn#readme', value=body.url).formadd-input

      div.formadd-content-input.formadd-content-input-tags
        div.formadd-input-content
          label.formadd-label Tags
          input(name='tags' placeholder='Ex. object, util, ...', value=body.tags).formadd-input

      div.formadd-content-input.formadd-content-input-desc
        div.formadd-input-content
          label.formadd-label Description
          textarea(name='description' placeholder='Lodash modular utilities.', value=body.description).formadd-input

      div.formadd-content-input.formadd-content-input-keyfrom
        div.formadd-input-content
          label.formadd-label key from
          input(name='keyfrom', value=body.keyfrom||'npm', placeholder='Ex. npm').formadd-input

      div.btn-collection.btn-collection-right
        a(href='/').btn Cancel
        button(type='submit').btn Save

